.main__title-game {
  font-family: "Gloria Hallelujah", cursive;
}

.container__level {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.main__container {
  padding-top: 2rem;
  gap: 1rem;
}

.main__link-start {
  text-decoration: none;
  color: black;
  width: 7rem;
  text-align: center;
  border-bottom: 4px double red;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}

.main__link-start:hover::before {
  background-image: url("../../img/right-arrow.svg");
  background-size: 1rem;
  height: 1rem;
  width: 1rem;
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
}

.main__link-start:hover::after {
  background-image: url("../../img/left-arrow.svg");
  background-size: 1rem;
  height: 1rem;
  width: 1rem;
  content: "";
  display: inline-block;
  margin-left: 0.5rem;
}

.main__link-ranking {
  text-decoration: none;
  color: black;
  /*padding: 1rem;*/
  width: 7rem;
  text-align: center;
  border-bottom: 4px double red;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}

.main__link-ranking:hover::after {
  background-image: url("../../img/left-arrow.svg");
  background-size: 1rem;
  height: 1rem;
  width: 1rem;
  content: "";
  display: inline-block;
  margin-left: 0.5rem;
}

.main__link-ranking:hover::before {
  background-image: url("../../img/right-arrow.svg");
  background-size: 1rem;
  height: 1rem;
  width: 1rem;
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
}

.container__level {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}

.invalid{
  color:red;
  border-color: red;
}

.main__input-username {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.main__input-username-aclaration {
  display: block;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.select:checked {
  color: red;
}